@import 'material-icons/iconfont/material-icons.css';

/* You can add global styles to this file, and also import other style files */
@import '@fontsource/open-sans';

/* Import Inter font for login page */
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap';

body,
html {
  height: 100%;
  color-scheme: light;
}

body {
  margin: 0;
}
